.wrapper
  = render 'split/side_chat'

  .chatsection
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__btn
          Edit
    .messages
        = render partial: 'message', collection: @messages


    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content,class: 'form__message', placeholder: 'type a message'
        .form__image
          = f.label :image, class: 'form__image__icon' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class:'image'
        = f.submit 'Send', class: 'form__submit'